.wrapper {
    padding-top: 50px;
    background:rgb(209, 168,170);
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    text-align: center;
    color: rgb(14,42,56);
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }


 